.search {
  border: 10rpx solid #e10601;
  text-align: center;
  color: #666;
}
.search icon {
  vertical-align: middle;
}
.swiper .swiper_img {
  width: 750rpx;
  height: 360rpx;
}
.nav {
  display: flex;
}
.nav .nav_item {
  flex: 1;
  text-align: center;
}
.nav .nav_item img {
  width: 100rpx;
  height: 110rpx;
  margin: 20rpx 0rpx 0rpx 0rpx;
}
.floor {
  margin-top: 20rpx;
}
.floor .floor_title {
  height: 60rpx;
}
.floor .floor_title .floor_title_img {
  height: 60rpx;
}
.floor .floor_content {
  display: flex;
  justify-content: space-around;
}
.floor .floor_content .floor_content_item {
  width: 232rpx;
  height: 385rpx;
}
.floor .floor_content .floor_content_item .left_pic {
  width: 232rpx;
  height: 385rpx;
}
.floor .floor_content .floor_content_item .other_pic {
  width: 232rpx;
  height: 188rpx;
  background-color: #fff;
}
.returnTop {
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  position: fixed;
  bottom: 30rpx;
  right: 30rpx;
  background-color: #fff;
  text-align: center;
  font-size: 30rpx;
}
